/*importando la tipografia*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*resetear el css - margin por defaul*/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;

}

body {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    box-sizing: border-box;
}

/*configurar los estilos*/

.header {

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(1, 1, 1, 0.7);
    /*tomo de color*/
    padding: 0px 10%;
    display: flex;
    /*que se adapte al espaciio*/
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    /*ubicar el menu al frente de cualquier elemento*/
}

.logo {
    font-size: 25px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;

}

/*configurar navegacion*/

.navigation ul {

    list-style: none;

}


.header .navigation ul li {
    float: left;
    position: relative;

}

.header .navigation ul li a {

    font-size: 18px;
    color: rgb(252, 253, 253);
    text-decoration: none;
    padding: 20px;
    display: block;
    transition: all .2s ease;
}

/*color de fondo*/
.header .navigation ul li a:hover {
    background-color: #685cfe;


}

.header .navigation ul li ul {

    position: absolute;
    right: 0;
    width: 300px;
    background-color: rgb(1, 1, 1, 0.7);
    display: none;

}

.header .navigation ul li ul li a {

    font-size: 15px;
    text-transform: capitalize;
}

.header .navigation ul li ul li ul {
    position: absolute;
    top: 0;
    right: 300px;

}

.header .navigation ul li ul li {

    width: 100%;
}

.header .navigation ul li ul li:hover>ul {

    display: initial;
}

/*hacemos referencia al ID - version escritorio*/

#toggle,
.header label {
    display: none;
    cursor: pointer;
}

.menu {

    width: 45px;
    height: 35px;
}

/*hacemos responsi al modelo*/
@media(max-width:950px) {
    .header label {

        display: initial;
    }

    .header {

        padding: 20px 10%;
    }

    .header .navigation {

        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: rgba(1, 1, 1, 0.7);
        display: none;
    }

    .header .navigation ul li {

        width: 100%;
    }

    .header .navigation ul li a {

        padding: 8px 30px 8px 10%;
    }

    .header .navigation ul li ul {

        position: relative;
        width: 100%;
        left: 0;
    }

    .header .navigation ul li ul li {
        background-color: rgba(1, 1, 1, 0.7);
    }

    .header .navigation ul li ul li ul {
        position: relative;
        width: 100%;
        left: 0;
    }

    #toggle:checked~.navigation {

        display: block;
    }


}

.hero {
    min-height: 100vh;
    background-image: url("imagen/hero.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}