<!DOCTYPE html>
<html lang="en">

<!--diseño para la pestaña y el nombre de la misma-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hola Mundo</title>

    <!--enlace al archivo style-->
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

    <!--creando la clase-->
    <header class="header">

        <div class="logo">Práctica Flask</div>
        <input type="checbox" id="toggle">

        <!--si no carga la imagen, solo mostrara la palabra menu-->
        <label for="toggle"> <img class="menu" src="/menu.svg" alt="menu"></label>

        <!--creacion del menu navegacion-->
        <nav class="navigation">

            <!--creando el menu-->
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Prueba</a></li>
                <li><a href="#">Aprueba</a></li>            

                             

                <!--Creando la ultima seccion-->
                <li><a href="#">Contacto</a></li>


            </ul>

        </nav>

    </header>

    <div class="hero"></div>

</body>

</html>